<header>
  <ul>
    <li class="left"><p>TwitterClone</p></li>
    <div class="right_menu">
      <li class="right"><a href="#">サインアップ</a></li>
      <li class="right"><a href="#">ログイン</a></li>
    </div>
  </ul>
</header>
<section class="main-header"> <%= image_tag'twitterclone.png'%> </section>
<section class="twitter_main">
  <table class="box1">
    <tr>
      <th><%= notice %></th>
    </tr>
    <tr>
      <th class="box1th1"><h1>ツイート</h1></th>
      <th class="box1th2"><%= link_to '新規投稿', new_post_path %></th>
    </tr>
  </table>
</section>
<section class="twitter_main scoll">
  <% @posts.each do |message| %>
  <table class="box2">
    <tr>
      <th class="topid">No.<%= message.id %></th>
    </tr>
    <tr>
      <td class="toptd"><%= message.content %></td>
      <td class="toptd2"><%= link_to '詳細', post_path(message.id) %></td>
      <td class="toptd2"><%= link_to '編集', edit_post_path(message.id) %></td>
      <td class="toptd2"><%= link_to '削除', post_path(message.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></td>
    </tr>
  <% end %>
  </table>
</section>
